<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013812992051-9ja5o0pf3pjnt22l9ssdl7pif1eht9fa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013812992051-9ja5o0pf3pjnt22l9ssdl7pif1eht9fa</string>
	<key>API_KEY</key>
	<string>AIzaSyBtFADjjD2AKgOWeEoy9AivNCjWFNROEhA</string>
	<key>GCM_SENDER_ID</key>
	<string>1013812992051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tr.com.miraycetin.fresh</string>
	<key>PROJECT_ID</key>
	<string>fresh-45922</string>
	<key>STORAGE_BUCKET</key>
	<string>fresh-45922.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013812992051:ios:0956edf0a208fddec2ab46</string>
</dict>
</plist>